<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <TargetFramework>netstandard2.1</TargetFramework>
        
        <Authors>SALTO Systems S.L.</Authors>
        <Company>SALTO Systems S.L.</Company>

        <PackageId>{id}</PackageId>
        <Version>{version}</Version>

        <PackageDescription>Contains the SDK related to '{apiName}'. Check out https://developer.saltonebula.com/ for more information</PackageDescription>
        <RepositoryUrl>https://github.com/saltoapis/saltoapis-dotnet</RepositoryUrl>
    </PropertyGroup>

    <ItemGroup>
        {dependencies}
    </ItemGroup>
</Project>