<Project Sdk="Microsoft.NET.Sdk">

    <PropertyGroup>
        <TargetFramework>netcoreapp3.1</TargetFramework>
        
        <Authors>SALTO Systems S.L.</Authors>
        <Company>SALTO Systems S.L.</Company>

        <PackageId>{id}</PackageId>
        <Version>{version}</Version>

        <PackageDescription>{description}</PackageDescription>
        <RepositoryUrl>https://github.com/saltoapis/saltoapis-dotnet</RepositoryUrl>
    </PropertyGroup>

    <ItemGroup>
        {dependencies}
    </ItemGroup>
</Project>